
// font & font_size

$font-Amatic: 'Amatic SC', cursive;
$font-Press_Start: 'Press Start 2P', cursive;

// color 

$text-white: #fff;
$text-black: #000;

$green_bg-color: #008000;
$white_bg-color: #fff;


// settings

html {
    font-size: 10px;
}

body {
	margin: 0;
     font-family: $font-Press_Start;
     font-size: 1.5rem;
     color: $text-black;
     background-color: $white_bg-color;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {  
     color: none;
     text-decoration: none;
}

p {
	margin: 0;
}

// container

.ToDo_container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}


                         /* ========header======== */

.header {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 5rem;
     padding: 1rem;
     background-color: $green_bg-color;

     &__title {
          margin-left: 1rem;
          font-size: 2rem;
     }
}

                         /* ========enter======== */

.enter {
     display: flex;
     justify-content: left;
     align-items: center;
     border: 2px solid $green_bg-color;

     &__input {
          width: 80%;
          padding: 2.1rem;
          font-family: $font-Press_Start;
          font-size: 2rem;
          border: 2px solid $green_bg-color;
          color: $text-black;
          text-align: center;

          &::placeholder {
               font-family: $font-Press_Start;
               font-size: 1.5rem;
               color: $text-black;
               opacity: .5;
               text-align: center;
          }
     }

     &__btn {
          width: 20%;
          padding: 2.1rem 0;
          border: 2px solid $green_bg-color;
          background-color: $white_bg-color;
          font-family: $font-Press_Start;
          font-size: 2rem;
          cursor: pointer;
          
          &:hover {
               background-color: $green_bg-color;
               border: 1px solid $white_bg-color;
               color: $text-white;
          }          
     }

}

                         /* ========list======== */

.list {
     display: flex;
     flex-direction: column;
     border: 2px solid $green_bg-color;
     border-top: none;
     border-bottom: none;

// left_side
     &__left {
          margin-top: 2rem;

          &--title {
               margin-bottom: 2rem;
               text-align: center;
               color: $text-black;
               font-size: 2.5rem;
          }
     }

// right_side
     &__right {
          margin-top: 2rem;

          &--title {
               margin-bottom: 2rem;
               text-align: center;
               color: $text-black;
               font-size: 2.5rem;
          }         
     }

// case_in_list
          &__case {
          list-style-type: none;
          padding: 0;
          color: $text-black;
          text-align: center;

          &--item {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 1rem;
               margin-left: .5rem;

               .span {
                    display: flex;
                    justify-content: center;

                    .btn__delete {
                         margin-right: .4rem;
                         padding: 1.1rem;
                         background-color: $white_bg-color;
                         background-image: url(../img/clear.svg);
                         border: none;
                         cursor: pointer;

                         /* .icon__commit {
                              padding: 1rem;
                              background-image: url(../img/forum.svg);
                              cursor: pointer;
                         }

                         .icon__done {
                              padding: 1rem;
                              background-image: url(../img/done.svg);
                              cursor: pointer;
                         }

                         .icon__delete {
                              padding: 1rem;
                              background-image: url(../img/clear.svg);
                              cursor: pointer;
                         }

                         .icon__renew {
                              padding: 1rem;
                              background-image: url(../img/autorenew.svg);
                              cursor: pointer;
                         } */
                    }
                    .btn__done {
                         margin-right: .4rem;
                         padding: 1.1rem;
                         background-color: $white_bg-color;
                         background-image: url(../img/done.svg);
                         border: none;
                         cursor: pointer;
                    }
                    .btn__commit {
                         margin-right: .4rem;
                         padding: 1.1rem;
                         background-color: $white_bg-color;
                         background-image: url(../img/forum.svg);
                         border: none;
                         cursor: pointer;
                    }
                    .btn__renew {
                         margin-right: .4rem;
                         padding: 1.1rem;
                         background-color: $white_bg-color;
                         background-image: url(../img/autorenew.svg);
                         border: none;
                         cursor: pointer;
                    }
               }

               
          }
     }

          &__done {
          list-style-type: none;
          padding: 0;
          color: $text-black;
          text-align: center;

          &--item {
               display: flex;
               justify-content: space-between;
               align-items: center;
               margin-bottom: 1rem;
               margin-left: .5rem;

               span {
                    display: flex;
                    justify-content: center;

                    button {
                         margin-right: .2rem;
                         background-color: $white_bg-color;
                         border: none;

                         .icon__commit {
                              padding: 1rem;
                              background-image: url(../img/forum.svg);
                              cursor: pointer;
                         }

                         .icon__done {
                              padding: 1rem;
                              background-image: url(../img/done.svg);
                              cursor: pointer;
                         }

                         .icon__delete {
                              padding: 1rem;
                              background-image: url(../img/clear.svg);
                              cursor: pointer;
                         }

                         .icon__renew {
                              padding: 1rem;
                              background-image: url(../img/autorenew.svg);
                              cursor: pointer;
                         }
                    }
               }

               
          }
     }
}

                         /* ========btn======== */

.btn {
     display: flex;
     justify-content: center;
     border: 2px solid $green_bg-color;
     border-top: none;
     padding-top: 2rem;
     padding-bottom: 2rem;

     .btn__save {
          margin-right: 2rem;
          padding: 1rem 3rem;
          border: 2px solid $green_bg-color;
          font-family: $font-Press_Start;
          font-size: 2rem;
          cursor: pointer;

          &:hover {
               background-color: $green_bg-color;
               color: $text-white;
          }
     }

     .btn__clear {
          padding: 1rem 3rem;
          border: 2px solid $green_bg-color;
          font-family: $font-Press_Start;
          font-size: 2rem;
          cursor: pointer;

          &:hover {
               background-color: $green_bg-color;
               color: $text-white;
          }
     }
}